## Capstone assignment 2

In [8]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
from tabulate import tabulate

### Load data into dataframe

In [9]:
source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text
soup=BeautifulSoup(source,"html.parser")
table=soup.find_all('table')[0]

df = pd.read_html(str(table))
df=df[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### remove "Not assigned" values

In [10]:
df = df[df.Borough != "Not assigned"]
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

### Concatenate values belonging to the same postcode

In [157]:
l=df.Postcode
dft=df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(list)
dft=pd.DataFrame(data=dft)
dft['Neighbourhood']=dft["Neighbourhood"].str.join(", ")
dft.reset_index(level=(0,1), inplace=True)
dft.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

### Shape of dataframe

In [158]:
dft.shape

(103, 3)